#sub{
    width: 21%;
    margin: auto;
    
}

.main{
    margin: auto;
    margin-top: 150px;
    
    
}

#best33{
       
    margin-left: 47%;
    position: relative;
    top: 40px;
    
   
}